<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" thread-count="5" parallel="true">
	<listeners>
		<listener class-name="com.subbu.retry.listeners.RetryListener"></listener>
	</listeners>
	<test name="Firefox Browser">
		<parameter name="retryBrowser" value="Firefox"/>
		<classes>
			<class name="com.subbu.retry.tests.TestCase1" />
			<class name="com.subbu.retry.tests.TestCase2" />
			<class name="com.subbu.retry.tests.TestCase3" />
		</classes>
	</test>
	<test name="Chrome Browser">
		<parameter name="retryBrowser" value="Chrome"/>
		<classes>
			<class name="com.subbu.retry.tests.TestCase1" />
			<class name="com.subbu.retry.tests.TestCase2" />
			<class name="com.subbu.retry.tests.TestCase3" />
		</classes>
	</test>
</suite>